<nav id="mainNav" class="navbar navbar-expand-lg py-3">
  <div class="container-fluid nav-wide">
    <a class="navbar-brand" data-href="index.html">
      <img data-src="img/logos/optom.png" alt="OPTOM" class="nav-logo">
    </a>

    <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navOptom"
      aria-controls="navOptom" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navOptom">
      <ul class="navbar-nav ms-auto align-items-center fw-bold">
        <li class="nav-item"><a class="nav-link px-3" data-href="index.html">Inicio</a></li>

       <li class="nav-item dropdown nav-services">
  <a class="nav-link dropdown-toggle px-3" data-href="servicios.html" href="servicios.html">
    Servicios
  </a>
          <ul class="dropdown-menu dropdown-menu-dark shadow-lg">
            <li><a class="dropdown-item" data-href="indexservicios/datacenter.html">Data Centers</a></li>
            <li><a class="dropdown-item" data-href="indexservicios/climatizacion.html">Climatización de Precisión</a></li>
            <li><a class="dropdown-item" data-href="indexservicios/energia.html">Energía y Respaldo</a></li>
            <li><a class="dropdown-item" data-href="indexservicios/dcim.html">DCIM</a></li>
            <li><a class="dropdown-item" data-href="indexservicios/seguridad.html">Seguridad y Monitoreo</a></li>
            <li><a class="dropdown-item" data-href="indexservicios/soporte.html">Soporte y Mantenimiento</a></li>
          </ul>
        </li>

        <li class="nav-item"><a class="nav-link px-3" data-href="nosotros.html#nosotros">Nosotros</a></li>
        <li class="nav-item"><a class="nav-link px-3" data-href="marcas.html">Marcas</a></li>
      </ul>
    </div>
  </div>
</nav>